$primary: #fb5849;
$font-family-base: 'Poppins', sans-serif;
$font-weight-bold: 600;
$badge-font-size: 1em;

@import '../../node_modules/bootstrap/scss/bootstrap.scss';

html, body {
    height: 100%;
}

.section-title {
    letter-spacing: 3px;
}

.about-line {
    letter-spacing: -5px;
}

// Navbar //

.navbar {
    .navbar-nav{
        position: absolute;
    }

    @media (min-width: 768px) {
        .navbar-nav {
            position: static;;
        }
    }

    .active {
        .nav-link {
            color: $primary !important;
        }
    }

    .nav-item {
        border-bottom: 1px solid $gray-500;
    }

    @media (min-width: 768px) {
        .nav-item {
            border: none;
        }
    }

    .nav-link:hover {
        color: $primary !important;
    }

    .dropdown:hover {
        .dropdown-menu {
            display: block;
        }
    }

    .dropdown-item {
        transition-duration: 500ms;
        font-size: 0.75rem;
    }

    .dropdown-item:hover {
        background-color: white;
        padding-left: 1.25rem;
        color: $primary !important;
    }

    .navbar-toggler-icon {
        letter-spacing: -5px;
        text-align: left;
        position: relative;
        transition-duration: 500ms;
    }

    .navbar-toggler-icon::before, .navbar-toggler-icon::after {
        content: "___";
        display: block;
        position: absolute;
        transition-duration: 500ms;
    }

    [aria-expanded="false"] {
        .navbar-toggler-icon::before {
            top: -10px;
        }

        .navbar-toggler-icon::after {
            top: 11px;
        }
    }

    [aria-expanded="true"] {
        .navbar-toggler-icon {
            color: transparent !important;
        }

        .navbar-toggler-icon::before {
            color: #343a40 !important;
            transform: rotate(45deg);
            top: 2px;
            left: 6px;
        }

        .navbar-toggler-icon::after {
            color: #343a40 !important;
            transform: rotate(-45deg);
            top: 5px;
            left: -5px;
        }
    }
}

// CtA //

#CtA {
    @media (min-width: 992px) {
        .carousel-inner, .card {
            height: 700px;
        }

        .card-img {
            object-fit: cover
        }
    }

    .reservation-cta {
        background-image: url('../imgs/top-left-bg.jpg');
        background-position:center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    h1 {
        font-family: 'Dancing Script', cursive;
    }

    h6 {
        letter-spacing: 3px;
    }
}

// About //

#about {
    .about-video {
        background-image: url('../imgs/about-video-bg.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .rounded-circle {
        transition-duration: 300ms;
        width: 70px;
        height: 70px;
    }

    .rounded-circle::after {
        display: inline-block;
        content: "";
        border-top: 1em solid transparent;
        border-right: 0;
        border-bottom: 1em solid transparent;
        border-left: 1.2em solid $light;
        margin-left: 40%;
        margin-top: 27%;
    }

    .rounded-circle:hover {
        opacity: 0.75;
        cursor: pointer;
    }
}

// Menu //

#menu {
    background-color: #fffafa;

    .lSSlideOuter, .lSSlideWrapper  {
        overflow-y: unset;
        overflow-x: clip;
    }

    .lightSlider {
        display: flex;
        justify-content: space-around;
    }

    .lslide {
        display: flex;
        justify-content: center;
    }

    .lSAction>a {
        background-image: url(../imgs/controls.png);
        background-color: $primary;
        border-radius: 50%;
    }

    .lSPrev {
        background-position: 1px 0;
        top: 110%;
        left: 40%;
    }

    .lSNext {
        background-position: -33px 0;
        top: 110%;
        right: 40%;
    }
}

// Chefs // 

#chefs {
    .card:hover {
        cursor: pointer;
    }

    .social-links {
        top: 0;
        width: 100%;
        height: 100%;
        display: none;
        background-color: rgba(251,88,73,0.2);
    }

    .facebook-link {
        -webkit-mask: url('../imgs/facebook.svg') no-repeat 100% 100%;
        mask: url('../imgs/facebook.svg') no-repeat 100% 100%;
        -webkit-mask-size: cover;
        mask-size: cover;
        background-color: $light;
    }

    .twitter-link {
        -webkit-mask: url('../imgs/twitter.svg') no-repeat 100% 100%;
        mask: url('../imgs/twitter.svg') no-repeat 100% 100%;
        -webkit-mask-size: cover;
        mask-size: cover;
        background-color: $light;
    }

    .instagram-link {
        -webkit-mask: url('../imgs/instagram.svg') no-repeat 100% 100%;
        mask: url('../imgs/instagram.svg') no-repeat 100% 100%;
        -webkit-mask-size: cover;
        mask-size: cover;
        background-color: $light;
    }
}